<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <nav>
            <ul>
            <li><a href="#twitter">Twitter</a></li>
            <li><a href="#soundcloud">Sound Cloud</a></li>
            <li><a href="#facebook">Facebook</a></li>
            <li><a href="#flickr">Flickr</a></li>
            <li><a href="#tumblr">Tumblr</a></li>
            <li><a href="#youtube">YouTube</a></li>
                <ul>
                    <li><a href="#timeline">Timeline</a></li>
                    <li><a href="#grid">Grid</a></li>
                    <li><a href="#list">List</a></li>
                </ul>
            
            </ul>
        </nav>
    </header>
    <section>    
        <article>
            <img src="" alt=""><!-- for the dot on the timeline-->

            <header>
                <img src="images/twitter.png" alt="Twitter Social Icon"><!-- platform icon -->
                <h2>@Pauladeleone</h2>
                <img src="images/link.png" alt="Attachment"><!-- attachment icon -->
            </header>


            <p>RT @MustifiedTweets: Stunning Fashion Websites for your Inspiration http:/t.com/VW64TAatU6 #design, #love, #webdesign, #inspiration,</p>

            <ul>
                <li><a href="#reply">Reply</a></li>
                <li><a href="#retweet">Retweet</a></li>
                <li><a href="#favorite">Favorite</a></li>
            </ul>
            <footer>
                <img src="" alt=""><!-- clock icon -->
                <p>about a minute ago</p>

                <ul>
                    <li><a href="http://www.facebook.com">Facebook</a></li>
                    <li><a href="http://www.twitter.com">Twitter</a></li>
                </ul>
            </footer>
        </article>
        
        <article>
            <img src="" alt=""><!-- for the dot on the timeline-->

            <header>
                <img src="images/flickr.png" alt="Flickr Social Icon"><!-- attachment icon -->
                <h2>@Projectpeachuk</h2>
                <img src="images/link.png" alt="Attachment"><!-- platform icon -->
            </header>


            <p>We're NOT a #webdesign studio. We are changing the way #websites work by making them work! Want to talk? #DevOps #smallbizutd #IT</p>

            <ul>
                <li><a href="#reply">Reply</a></li>
                <li><a href="#retweet">Retweet</a></li>
                <li><a href="#favorite">Favorite</a></li>
            </ul>
            
            <footer>
                <p>about a minute ago</p>

                <ul>
                    <li><a href="http://www.facebook.com">Facebook</a></li>
                    <li><a href="http://www.twitter.com">Twitter</a></li>
                </ul>
             </footer>
           </article>
        </section>
  

	<!-- End Component -->
	
</body>
</html>