<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <img src="images/logo-hd-94278cec901b40c13a9c28fbb6f9fa37.png" alt="Dribble Logo">
        <h1>Sign in</h1>
    </header>
    <section>
        <article id="signIn">
            <form>
                <p><label for="usernameEmail">Username or Email</label></p>
                <p><input type="text" name="usernameEmail"></p>
                <p><label for="password">Password</label> <a href="">Forgot?</a></p>
                <p><input type="password" name="password"></p>

                <p><input type="submit" value="Sign In"></p>
            </form>
        </article>
        
        <article id="twitterSignIn">
            <p><a href="#">Sign in with Twitter</a></p>
            <p>One-click sign in to Dribbble if your account is connected to Twitter. We'll walk you through connecting it if it isn't.</p>
        </article>
    </section>
        
        <p>Not a member? <a href="#">Sign up now</a></p>
    

	

	<!-- End Component -->
	
</body>
</html>