<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
    <nav>
        <ul>
            <li id="current"><a href="#">Home</a></li>
            <li><a href="#">Price Plans</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Take a Trial</a></li>
            
        </ul>
    </nav>
    <header>
        <section>
            <img src="images/soloLogo.svg" alt="Solo Logo">
            <h1>Freelancing's tough. Luckily you've just found your wingman.</h1>
            <p>Scroll Down</p>
            
        </section>
        
        <section>
            <p><a href="#">Take a Free Trial</a></p>
            <ul>
                <li><a href="http://www.dribbble.com">Dribbble</a></li>
                <li><a href="http://www.pinterest.com">Pinterest</a></li>
                <li><a href="http://www.linkedin.com">LinkedIn</a></li>
                <li><a href="http://www.twitter.com">Twitter</a></li>
                <li><a href="http://www.facebook.com">Facebook</a></li>
            </ul>
        </section>
    </header>
    
    
	<!-- End Component -->
	
</body>
</html>