<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Contact</h2>
        <p>Yoda soon you will call me master Fovernor Tarkin. A new hope Boba Fett bantha forest moon. Tusken raider Master Yoda do or do not never tell me the odds.</p>
        <button><img src="" alt=""></button>
        
        <form>
            <p><label for="name">Name<input type="text" name="name" /></label></p>
            <p><label for="email">Email<input type="email" name="email" /></label></p>
            <p><label for="subject">Subject<input type="text" name="subject" /></label></p>
            <p><textarea name="message"></textarea></p>
            <p><input type="submit" value="Envoyer"></p>
        </form>
    </section>
	

	<!-- End Component -->
	
</body>
</html>