<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
        <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Contact</h2>
        <p>Yoda soon you will call me master Fovernor Tarkin. A new hope Boba Fett bantha forest moon. Tusken raider Master Yoda do or do not never tell me the odds.</p>
        <button><p></p></button>
        
        <form>
            <p><label for="name">Name</label><input type="text" name="name" /></p>
            <p><label for="email">Email</label><input type="email" name="email" /></p>
            <p><label for="subject">Subject</label><input type="text" name="subject" /></p>
            <p><textarea name="message"></textarea></p>
            <p><input type="submit" value="Envoyer"></p>
        </form>
    </section>
	

	<!-- End Component -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<script src="js/jquery-ui.min.js"></script>  
    <script src="js/component.js"></script>
</body>
    
  
</html>