<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Component -->    
    <section>
        <ul>
            <li><h3><a href="#">Everything</a></h3></li>
            <li><h3><a href="#">Interviews</a></h3></li>
            <li id="current"><h3><a href="#">Books</a></h3></li>
            <li><h3><a href="#">Events</a></h3></li>
            <li><h3><a href="#">Jobs</a></h3></li>
        </ul>
        
        <h1>Books</h1>
        
        <article>
            <figure><img src="images/alphabetImage.png" alt="Alphabet Logo Image"></figure>
            <div>
                <h2><a href="#">Alphabet Logo</a></h2>
                <p>Our pals at Counterprint have done it again. Their latest book <a href="#">Alphabet Logo</a> is a compendium of logos designed, you guessed it, from letters of the alphabet. Containing over 500 logos from some of the world, this latest release showcases the work of leading design companies like; Bond Creative, Bruce Mau Design, Hype Type Studio, Pentagram, Stockholm Design Lab, Wolff Olins and even a couple of FFF contributors!</p>

<p>Make sure you add a copy to your bookshelf.</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><p>8 Shares</p></li>
                    <li><p>Posted by Glenn on June 19, 2015</p></li>

                <li><a href="#">Comment now</a></li>
                </ul>
                
                
                
                
            </div>
        </article>
        
        
        
       
        
    </section>
    
    <aside>
        
    </aside>
	

	<!-- End Component -->
	
</body>
</html>