/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


html {font-size: 62.5%; }
body {
    max-width: 960px;
    width: 100%;
    background: #000;
    font: 400 1.6rem/1.4 'PT Sans', sans-serif;
    color: #ccc;
    height: 100%;
    margin: 0 auto;
}

a {
    color: #fff;
}

a:hover {
    color: #0cf2e1;
}

h1, h2, h3 {
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

h2 a {
    font-size: 3rem;
    color: #0cf2e1;
}

h2 a:hover {
    color: #ccc;
}

h3 a {
    font-size: 2rem;
    color: #ccc;
}

h3 a:hover {
    color: #0cf2e1;
}


/* SECTIONS ======================================== */

section {
    width: calc(100%/ 3 * 2);
    margin-right: 1rem;
    background: #222;
}

aside {
    width: calc(100%/ 3 * 1);
}

section > h1 {
    padding: 2rem 0;
}

article {
    background: #1b1b1b;
    height: auto;
    position: relative;
    
}

article h2 {
    padding: 0 1rem 2rem;
}

article > div >  p {
    padding: 0 4rem 2rem 1rem;
}

img {
    width: 100%;
}

section > ul {
    display: block;
    padding-left: 1.5rem;
    background: #000; 
}

section > ul > li {
    display: inline-block;
    background: #1b1b1b;
}

section > ul > li a {
    padding: 0 1rem;
}

section > ul > li#current a {
    color: #0cf2e1;
    background: #222;
}

div {
    background: rgba(34, 34, 34, .9);
    position: relative;
    width: 90%;
    top: -5rem;
    left: 6.5rem;
}

div > ul {
    background: rgb(17,17,17)!important;
    clear: both;
    width: 100%;
}

div > ul > li {
    display: inline-block;
    padding-top: 1rem;
}

div > ul > li a {
    background: #ccc;
    display: block;
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
}

div > ul > li:nth-child(5) {
    color: #0cf2e1;
}

div > ul > li:nth-child(6) {
    color: #666;
    font-style: italic;
    font-size: 1.4rem;
}

div > ul > li:last-child {
    float: right;
    position: relative;
    padding-top: 0;
}

div > ul > li:last-child a {
    background: #0cf2e1;
    text-align: center;
    display: inline-block;
    padding: .8rem 0 3rem 0;
    font-style: italic;
    font-size:  1.5rem;
    text-indent: 0px;
    width: 15rem;
    border-bottom: .5rem solid #067a71;
}

div > ul > li:nth-child(6) {
    padding-left: 6rem;
}

div > ul > li:last-child a::before {
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    text-decoration: inherit;
    padding-right: .5rem;
}

div > ul::after {
    content: "";
    display: table;
    clear: both;
}

a[href*="twitter"] {
    background: url(images/twitter.svg) no-repeat;
    background-size: 2rem;
    color: rgba(255,255,255, .6);
}

a[href*="facebook"] {
    background: url(images/facebook.svg) no-repeat;
    background-size: 2rem;
}

a[href*="pinterest"] {
    background: url(images/pinterest.svg) no-repeat;
    background-size: 2rem;
}


a[href*="google"] {
    background: url(images/google.svg) no-repeat;
    background-size: 2rem;
}