<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->    
    <section>
        <ul>
            <li><a href="#">Everything</a></li>
            <li><a href="#">Interviews</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Jobs</a></li>
        </ul>
        
        <article>
            <figure><img src="" alt=""></figure>
            <div>
                <h2>Gordon Burniston</h2>
                <p>FFF's favourite Glaswegian photography <a href="#">Gordon Burniston</a> launched an updated portfolio site with an abundance of excellent new work.</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Google+</a></li>
                    <li>8 Shares</li>
                </ul>

                <p>Posted by Glenn on June 19, 2015</p>
                
                <p><a href="#">Comment Now</a></p>
            </div>
        </article>
        
        <article>
            <figure><img src="" alt=""></figure>
            <div>
                <h2>Folch Studio</h2>
                <p>Barcelona agency <a href="#">Folch</a> were last featured on FFF back in 2010. Now ten years since opening the agency has developed a beautiful, diverse portfolio built on their solid editorial credentials</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Google+</a></li>
                    <li>11 Shares</li>
                </ul>

                <p>Posted by Stephan on June 19, 2015</p>
                
                <p><a href="#">Comment Now</a></p>
            </div>
        </article>
        
    </section>
	

	<!-- End Component -->
	
</body>
</html>