<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <ul>
            <li><a href="#">Find Your Ride</a></li>
            <li><a href="#">Become powered by iRide</a></li>
            <li><a href="#">Manage your employees</a></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html>