<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
    <section>
        <ul>
            <li><a href="#find"><img src="images/driver.png" />Find Your Ride</a></li>
            <li><a href="#powered"><img src="images/gear.png" />Become powered by iRide</a></li>
            <li><a href="#manage"><img src="images/people.png" />Manage your employees</a></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html>