/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html { font-size: 62.5%; }
body { 
    background: url(images/traffic.jpg) no-repeat;
    background-size: cover;
    max-width: 960px;
    margin: 0 auto;
}

a { 
    color: #fff;
}

/* SECTION ======================================== */
section {
    font-family: 'Droid Serif', serif;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 10rem auto;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

ul {
    width: 100%;
    text-align: center;
}
    
li a {
    display: inline-block;
    margin-right: 4rem;
    width: 100px;
    height: 100px;
}
 

li a:hover {
    border-radius: 50%;
    background: rgba(31, 56, 186, .4);
    box-shadow: inset 0 0 0 5px rgba(31, 56, 186, .8);
}

