<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <h1>Legend</h1>
            <ul>
                <li>Javascript</li>
                <li>CSS3</li>
                <li>HTML5</li>
                <li>PHP</li>
                <li>MySQL</li>
            </ul>
        </article>
        <article>
            <div><!-- for diagram -->
            </div>
        </article>
    </section>
    
	

	<!-- End Component -->
	
</body>
</html>