<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Michelle Munksgard</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <p>Subscribe to our newsletter to receive news, updates, and another stuff by email.:</p>
        <form>
            <p><label>Email</label><input type="email" name="name" placeholder="Enter your email..." /></p>
            <p><input type="submit" name="submit" value="Subscribe" /></p>
        </form>
    </section>
	

	<!-- End Component -->
	
</body>
</html>